/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .objective-container {
     width: 400px;
     padding: 5px;
     border: 2px solid black;
     margin-bottom: 10px;
     display: flex;
     flex-direction: column;
 }

 .key-result-container {
    margin: auto;
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.delete-key-result {
    order: 3;
    margin-right: auto;
}

 .infos {
     display: flex;
     width: 100%;
 }

 .title {
    margin-right: auto;
     order: 1;
 }

 .weight {
     margin-left: auto;
     order: 2;
     width: 50px;
 }